.radio-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.radio-input {
    display: none;
}

.radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
}

.radio-input:checked + .radio-custom {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.radio-input:checked + .radio-custom::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}
.flex-container {
    display: flex;
    gap: 10px;
}

/* Загальні стилі для блоків */
.block {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

.block-1 {
    background-color: green;
    order: 3;
}
.block-2 {
    background-color: blue;
    order: 4;
}
.block-3 {
    background-color: blue;
    order: 1;
}
.block-4 {
    background-color: red;
    order: 2;
}